  <!-- <div > -->
    <mat-card class="container">
        <mat-card-content class="box1">

                <div class="one h-full">

                  <mat-form-field class="fields">
                    <mat-label>Format</mat-label>
                    <mat-select>
                      @for (format of formats; track format) {
                        <mat-option [value]="format.value">{{format.value}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="fields">
                    <mat-label>Proficiency Level</mat-label>
                    <mat-select>
                      @for (format of formats; track format) {
                        <mat-option [value]="format.value">{{format.value}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                </div>
                
                <div class="two">

                  <!-- <mat-form-field>
                    <mat-label>No. of Questions</mat-label>
                    <mat-select>
                      @for (format of formats; track format) {
                        <mat-option [value]="format.value">{{format.value}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field> -->
                  <mat-form-field class="fields">
                    <mat-label>No. of Questions</mat-label>
                    <input matInput type="number" min="0" max="50" required >
                    <!-- <mat-hint>milliseconds</mat-hint> -->
                  </mat-form-field>

                  <mat-form-field class="fields">
                    <mat-label>Name of Book</mat-label>
                    <mat-select>
                      @for (format of formats; track format) {
                        <mat-option [value]="format.value">{{format.value}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

              <div class="box2">
                <button mat-button class="btn">Submit</button>
                <!-- <div class="example-label">Stroked</div> -->
              </div>
        </mat-card-content>
      </mat-card>
  <!-- </div> -->
