/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    display: ruby-text;
    background-color: rgb(41, 41, 41);
}
h1{
    margin-top: 40px;
    /* color: aliceblue; */
    color: rgb(184, 149, 74);
    font-family: 'lato', 'arial', sans-serif;
}
a{
    color: rgb(2, 3, 3);
    text-decoration: none;
}
a:hover{
    color: hsl(41, 62%, 58%);
}
li::marker {
    color: rgb(214, 172, 81);
}