.mat-row:nth-child(even){
    background-color: red;
}
        
.mat-row:nth-child(odd){
    background-color: black;
}

table{
    margin-top: 50px;
    width: 80% !important;
}

.gray { background-color: white }
.blue{background-color: #e7ebfbb5;}

th{
    background-color: #d7d7d8b5;
    font-weight: 900;
    font-size: 18px;
}

tr:hover{
    background-color: #e6e6e8b5;;
}

th,td{
    text-align: center;
}