.mat-row:nth-child(even){
    background-color: red;
}
        
.mat-row:nth-child(odd){
    background-color: black;
}

table{
    margin-top: 50px;
    width: 80% !important;
}

.gray { background-color: #898d9bb5 }
.blue{background-color: #b9c3ebb5;}
